@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #050505;
  background-image: radial-gradient(rgba(0, 243, 255, 0.1) 1px, transparent 1px);
  background-size: 30px 30px;
}
